# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
venv/
.venv/
.env/
.env*

# IDE / Editor
.idea/
.vscode/

# Test / coverage
.pytest_cache/
.mypy_cache/
coverage*

# OS files
.DS_Store
Thumbs.db
